<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <title>faucet</title>
    </head>
    <body>
        <div class="contrainer">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://127.0.0.1:5555/home">MiewCoin Blockchain Network</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/faucet">Faucet</a></li>
                    </ul>
                </div>
            </nav>
                <div class="row">
                    <div class="jumbotron col-sm-12">

                            <div class="col-sm-3">
                                <img class="kittyFaucet" src="https://www.actioncat.com/small/catdrinkingfromfaucet3small.gif" alt="kitty fountain"/>
                            </div>

                        <div class="col-sm-7">

                            <h1 class="display-3">Welcome to the Miewcoin Blockchain Faucet!</h1>
                        
                            <hr class="my-4">
                        
                            <p>From here, you can request coins!</p>

                            <form class="row" method="post" enctype="application/x-www-form-urlencoded">

                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label>Enter your Address:  <input type="text" class="form-control" name="toAddress" id="toAddress" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Request Amount (less than 1000000 micro coins):  <input type="number" class="form-control" name="requestAmount" id="requestAmount" required></label>
                                    </div>

                                    <div>
                                        <form action="?" method="POST">
                                            <div class="g-recaptcha" data-sitekey="6LfQQLknAAAAAFNKIi5xZfsl27k_s1VRmnjPawnr"></div>
                                            <br/>
                                          </form>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Send">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="credits">
                    <footer>
                        Icon from www.actioncat.com
                    </footer>
                </div>
        </div>
    </body>
</html>