<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>sendTransaction</title>
    </head>
    <body>
        <div class="contrainer">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/home">MiewCoin Blockchain Network</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/wallet">Wallet</a></li>
                        <li><a href="/createWallet">Create Wallet</a></li>
                        <li><a href="/openWallet">Open Wallet</a></li>
                        <li class="active"><a href="/transaction/send">Send Transaction</a></li>
                        <li><a href="/address/:address/balance">Balance</a></li>
                        <li><a href="/address/:address/transactions">Transactions</a></li>
                    </ul>
                </div>
            </nav>
                <div class="row">
                    <div class="jumbotron col-sm-12">
                        <div class="col-sm-12">
                            <h1 class="display-3">Create, Sign, and Send a Transaction!</h1>
                            <hr class="my-4">
                            <p class="lead">Fill in the form below to send Miewcoins!</p>
                            <hr class="my-4">

                            <form class="row" method="post" enctype="application/x-www-form-urlencoded">

                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                    <label>From Address:  <input type="text" class="form-control" name="from" id="from" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>To Address:  <input type="text" id="to" class="form-control" name="to" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Value:  <input type="number" class="form-control" name="value" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Fee:  <input type="number" class="form-control" name="fee" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Data:  <input type="text" class="form-control" name="data" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Public Key:  <input type="text" class="form-control" name="senderPubKey" required></label>
                                    </div>
                                    <hr class="my-4">
                                    <div>
                                        <p class="lead">Fill in the form below to sign your Miewcoin transaction!</p>
                                        <hr class="my-4">
                                    </div>

                                    <div class="form-group">
                                        <label>Compressed Private Key:  <input type="text" class="form-control" name="senderPrivKey" required></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Secret Message:  <input type="text" class="form-control" name="scrtMsg" required></label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" value="Send">Send</button>
                                    </div>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>