<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title></title>
    </head>
    <body>
        <div class="contrainer">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/home">MiewCoin Blockchain Network</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/wallet">Wallet</a></li>
                        <li><a href="/createWallet">Create Wallet</a></li>
                        <li><a href="/transactions/send">Send Transaction</a></li>
                        <li><a href="/address/:address/balance">Balance</a></li>
                        <li><a href="/address/:address/transactions">Transactions</a></li>
                    </ul>
                </div>
            </nav>
                <div class="row">
                    <div class="jumbotron col-sm-12">
                        
                        <div class="col-sm-9">
                            <h1 class="display-3">Welcome to the Miewcoin Blockchain Wallet!</h1>
                        
                            <hr class="my-4">
                        
                            <p>From here, you can create a new wallet, send a transaction, and look up your balance or transactions using your address!</p>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>